
body{
    background: cover;
   }
   .heading{
       font-size: 23px;
       width: 100%;
       margin: 0px;
   }
   .note{
   font-size: 15px;
   color: black;
   }
   .div_speed{
       float: left;
   }
   .Div_speed_img{
       width: 200px;
       border-radius: 100px;
   }
   #speed{
       font-size: 23px;
       margin: 15px;
   }
   .Div_volume{
       float: right;
   }
   .Div_volume_img{
       width: 200px;
       border-radius: 100px;
   }
   #volume{
       font-size: 23px;
       margin: 15px;
   }
   .play{
    width: 130px;
    font-size: 25px;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: black;
    text-align: center;
}
   
   